body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0 0 50px;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.features-pane {
    background: #ddd;
}

#right-pane {
    width: 600px;
    margin: 0 auto;
    float: left;
    overflow: hidden;
    background: #bbb;
    padding-left: 20px;
}

.heading-row h2 {
    float: left;
}
.new-project-container {
    line-height: 40px;
    float: right;
}

.project-name {
    font-weight: bold;
    float: left
}
.item-row {
    height: 20px;
    margin: 2px 0;
    clear: both;
}
.item-row:hover {
    background: #ddf;
}

.item-row .destroy, .item-row .add {
    float: right;
    width: 20px;
    height: 20px;
    padding-right: 4px;
}

.item-row .icon {
    display: none;
}
.item-row:hover .icon {
    display: block;
}
.item-row .icon:hover {
    background-position: 0 -96px;
}

.item-row:hover .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}

.item-row .destroy:hover {
    background-position: 0 -20px;
}

.feature-item {
    cursor: pointer;
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 4px;
}

.feature-item.selected {
    background: greenyellow;
}

.feature-item .active-icon {
    width: 25px;
    margin-right: 10px;
    float: left;
}

.feature-item .feature-name {
    float: left;
}

#left-pane .ui-accordion .ui-accordion-content {
    padding: 6px 0 6px 10px;
}

.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}
