<template name="details">
    <div class="row">
        <div class="span2">Feature</div>
        <div class="span5">
            {{#if editing_feature}}
                <input type="text" name="feature" data-js="details-feature-name-input" value="{{name}}">
            {{else}}
                <div class="feature-name" data-js="details-feature-name" title="Click to edit">{{name}}</div>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="span2">Description</div>
        <div class="span5">
            {{#if editing_description}}
                <textarea data-js="details-description-input" name="description">{{description}}</textarea>
            {{else}}
                {{#if description}}
                    <div class="description" data-js="details-description" title="Click to edit">{{description}}</div>
                {{else}}
                    <div class="empty-description" data-js="empty-description">Click to add a description</div>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="span2">Status</div>
        <div class="span5">
            <div class="active-icon label {{active_class}}" title="Click to toggle">{{active_text}}</div>
        </div>
    </div>
    <div class="row">
        <div class="span2">Scope</div>
        <div class="span5">
            <input type="radio" name="scope" value="all" {{all_users_checked 'all'}}> All users &nbsp; &nbsp;
            <input type="radio" name="scope" value="custom" {{all_users_checked 'custom'}}> Custom
            <i class="item-icon help-icon ion-help-circled" title="Custom settings help"
               onclick="{{openHelp '#help-custom-feature-settings'}}"></i>
        </div>
    </div>
    <fieldset {{formDisabled all_users}}>
        <div class="row">
            <div class="span2">Percentage</div>
            <div class="span5">
                <label id="percentage">
                    <input type="checkbox" data-js="checkbox" {{formChecked use_percentage}} >
                    Percentage of users
                    <input class="percentage-spinner" name="percentage" value="{{percentage}}">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="span2">Groups</div>
            <div class="span5">
                <div class="groups-container">
                    {{> group_picker}}
                </div>
            </div>
        </div>
    </fieldset>
</template>