<template name="features_panel">
    <div class="row-fluid heading-row">
        <div class="span5">
            {{> new_project}}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span5 features-pane">
            {{#each projects}}
                {{> project_item}}
                <div class="features-container" data-js-project_id="{{_id}}">
                    <ul>
                        {{#each features _id}}
                            {{> feature_item}}
                        {{/each}}
                    </ul>
                </div>
            {{/each}}
        </div>
        <div class="details-pane span7">
            {{#if selected_feature}}
                {{> details selected_feature}}
            {{else}}
                No feature selected.
                <div>Select a feature to show details.</div>
            {{/if}}
        </div>
    </div>
</template>
