<template name="group_picker">
    <label class="checkbox">
        <input type="checkbox" {{formChecked use_groups}}>
        Active for Groups
    </label>
    </div>
    <fieldset {{formDisabled use_groups negate=1}}>
        <div class="groups-box">
            {{#each groups}}
                <div class="group-container">
                    <label class="checkbox">
                        <input type="checkbox" {{group_checked}}>
                        {{name}}
                    </label>
                </div>
            {{/each}}
        </div>
    </fieldset>
</template>
