body
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight 200
  margin 10px 0 0 0
  padding 0
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -o-user-select none
  user-select none

.heading-row
  h2
    float left

.new-project-container
  float right

.ui-tooltip-content
  font-size 10px

.nav
  margin-bottom 10px

fieldset:disabled
  background #eee
  color #888
  .groups-box
    border none

.inline-block
  display: inline-block

.details-pane
  input[type=text], textarea
    width 95%
  input[type=radio]
    margin-top 0
  input[type=text]
    margin-right 10px
  .row
    margin-left 10px
    margin-bottom 10px
  .active-icon
    cursor pointer
  .row-label
    width 100px
    display inline-block
    vertical-align top
  .feature-name, .description
    display inline-block
    cursor: pointer
  .empty-description
    font-style italic
    color #aaa
  #percentage
    .ui-spinner
      width 60px
      margin-left 10px
  .groups-box
    display inline-block
    border 1px solid #ddd
    width 340px
    padding 5px 10px
    margin 5px 0
    .group-name
      display inline-block
      margin-top 4px
  .button-container
    float right
    color #888
    &:hover
      color #333

.features-pane
  background #eee
  .features-container
    /*display none // initially collapsed*/
  .item-row
    height 24px
    cursor pointer
    &.project-item
      position relative
      padding-top 8px
      .tree-icon
        font-size 16px
        padding-left 2px
        &.collapsed
          display none
      .project-name
        font-size 14px
        font-weight bold
        display inline-block
    &.feature-item
      position relative
      list-style none
      margin-left 0
      padding-left 20px
      padding-top 4px
      &.selected
        background lightblue
      .active-icon
        width 25px
        margin-right 10px
        margin-top 2px
        float left
      .feature-name
        font-size 14px
        float left
    .edit-feature-input
      position absolute
      top -1px
    .edit-project-input
      position absolute
      top 1px
    .button-container
      float right
      margin-right 5px
      display none
    .item-icon
      font-size 20px
      color #666
      &:hover
        color #333
    &:hover
      background darkgray
      .button-container
        display block
    .icon:hover
      background-position 0 -96px
    .destroy:hover
        background-position 0 -20px


